{% extends "base.html" %}

{% block head %}
<title>Sign Up</title>
{% endblock %}

{% block body %}

<div class="header">
    <a class="logo">Cost Manager - Sign Up</a>
    <div class="header-right">
        <a href="/login">Log In</a>
    </div>
</div>

<div>
    <form method="POST" action="/signup">
        <input type="email" name="email" placeholder="Email" autofocus="">
        <input type="text" name="name" placeholder="Name" autofocus="">
        <input type="password" name="password" placeholder="Password">
        <button class="button">Sign Up</button>
    </form>
</div>

{% endblock %}